[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.7"
djangorestframework = "*"
asgiref = "==3.7.2"
psycopg2-binary = "==2.9.9"
sqlparse = "==0.4.4"
typing-extensions = "==4.8.0"
pillow = "*"
django-jazzmin = "*"
django-ckeditor-5 = "*"

[dev-packages]

[requires]
python_version = "3.11"
